@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-maintext: 254 255 255;
		--color-mainblack: 0 0 0;
		--color-mainbg: 58 175 169;
		--color-mainshadow: 43 122 120;
		--color-accent: 23 37 42;
		--color-accent-light: 244 244 252;
		--color-contrast: 61 61 199;
	}
	:root[class~="dark"] {
		--color-maintext: 254 255 255;
		--color-mainblack: 0 0 0;
		--color-mainbg: 58 175 169;
		--color-mainshadow: 43 122 120;
		--color-accent: 23 37 42;
		--color-accent-light: 244 244 252;
		--color-contrast: 61 61 199;
	}
}
